.intro-header .site-heading h1, .intro-header .page-heading h1{
	font-size: 40px;
}
.body-circle p{
	line-height: 1.75;
	font-size: 14px;
}
.body-circle .fa-stack{
	opacity: 0.25;
}
.home-about-me .text-muted{
	font-size: 16px;
}
.home-about-me{

	margin-top: 50px;
}
#boxset > div{
	height: 100px;
}

.home-about-me button{
  padding: 16px;
	margin-top: 145px;
	border-radius: 10px;
	margin-bottom: 30px;
}
footer{
	padding-top: 65px;
	padding-bottom: 10px;
}